<ion-header>
  <ion-toolbar>
    <ion-title>My Cart</ion-title>
    <ion-buttons slot="end">
      <ion-button class="save-button" (click)="saveAndClose()">
        <ion-icon name="checkmark-outline"></ion-icon>Save
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div *ngIf="cart.length === 0" class="empty-cart">
    <p class="indent font-size">Your cart is empty.</p>
  </div>

  <div *ngFor="let item of cart" class="cart-item">
    <div class="cart-info">
      <p>{{ item.name }} - {{ item.price | currency:'RM' }}</p>
    </div>

    <div class="cart-actions">
      <ion-button fill="clear" (click)="decreaseQuantity(item)">
        <ion-icon name="remove-outline"></ion-icon>
      </ion-button>
      <span>{{ item.quantity }}</span>
      <ion-button fill="clear" (click)="increaseQuantity(item)">
        <ion-icon name="add-outline"></ion-icon>
      </ion-button>
      <ion-button color="danger" fill="clear" (click)="removeFromCart(item)">
        <ion-icon name="trash-outline"></ion-icon>
      </ion-button>
    </div>
  </div>

  <p class="total-price font-size">Total: {{ totalPrice | currency:'MYR' }}</p>
</ion-content>