<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button routerLink="/item-menu">
        <ion-icon name="caret-back"></ion-icon>&nbsp;Back
      </ion-button>
    </ion-buttons>
    <ion-title style="text-align: center;">
      yyyy-mm-dd  hh:mm:ss
    </ion-title>
    <ion-buttons slot="end">
      <ion-title>
        12345
      </ion-title>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <h2 style="padding-top: 50px;">Select Payment Method</h2>
  <div class="payment-options">
    <ion-button *ngFor="let method of paymentMethods" (click)="generateQRCode(method.qr)">
      <img [src]="method.image" alt="{{ method.name }}">
    </ion-button>
  </div>
  
  <h3>Scan QR Code Here</h3>
  <div class="qr-container" *ngIf="qrCode">
    <img [src]="qrCode" alt="Payment QR Code">
  </div>
</ion-content>

<ion-footer>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button>
        <ion-icon name="cart-outline"></ion-icon>
        RM {{ totalPrice | currency:'MYR' }}
      </ion-button>
    </ion-buttons>
    <ion-title>Items Selected: {{ cartItemCount }}</ion-title>
  </ion-toolbar>
</ion-footer>
